@use "@carbon/grid";
@import "abstracts/mixins";
@import "pages/chat";
@import "pages/home";
@import "pages/profile";
@import "components/btn";
@import "components/header";

@include grid.flex-grid();

html,
body {
  height: 100%;
  background: var(--BG, #292f47);
}

.thirdeyes {
  position: relative;
  height: 100%;
  padding: 2rem;
}
