@use "carbon-components-react";
@import "@carbon/themes/scss/themes";
@import "abstracts/mixins";
@import "abstracts/variables";
@import "abstracts/typography";
@import "pages/chat";
@import "pages/home";
@import "pages/howto";
@import "pages/profile";
@import "components/buttons";
@import "components/chat-sidebar";
@import "components/editor";
@import "components/header";
@import "components/modals";
@import "components/model-selector";
@import "components/search";
@import "components/sidebar";
@import "components/spotify";

html,
body {
  height: 100%;
  background: #1e374e;

  a {
    text-decoration: none;
  }
}

.thirdeyes {
  position: relative;
  max-width: $maxWidth;
  padding: 1rem 0;
  @include font-main;

  @include bp("small") {
    padding: 1rem;
  }

  * {
    box-sizing: border-box;
  }
}
