@use "carbon-components-react";
@import "@carbon/themes/scss/themes";
@import "mixins";
@import "variables";
@import "typography";
@import "editor";
@import "spotify";

a {
  text-decoration: none;
}

.thirdeyes {
  position: relative;
  max-width: $maxWidth;
  @include font-main;

  * {
    box-sizing: border-box;
  }
}
