.chat {
  * {
    box-sizing: border-box;
  }

  header {
    position: absolute;
    top: 2rem;
    left: 2rem;
    height: 2.5rem;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: calc(100% - 4rem);
    height: 100%;

    @include bp("xlarge") {
      padding: 4rem 6rem;
      gap: 3rem;
    }
  }

  &__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    &__image {
      display: none;
      width: 100%;
      max-height: 70vh;
      margin-bottom: 1rem;
      border: 1px solid #868da3;
      border-radius: 47px 0 47px 0;
      overflow: hidden;
      
      img {
        width: 100%;
      }

      &--portrait {
        display: block;
      }

      &--landscape {
        display: block;
        width: 100%;
        aspect-ratio: 1080/720;
      }
    }
  }

  &__panel {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 2.5rem;
    width: 100%;
    height: 100%;
    padding: 2.25rem 0 2.25rem 2.25rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #868da3;
    border-radius: 47px 0 47px 0;
  }

  &__messages {
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    height: calc(100% - 6.5rem);
    width: 100%;
    padding: 0 2rem;
    @include font-main;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    position: absolute;
    bottom: 6.5rem;
    overflow-y: scroll;
    @include scrollbars(10px, #9697f1, #41465c);

    &--hidden {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    * {
      overflow-anchor: none;
    }

    .chat__messages__anchor {
      overflow-anchor: auto;
      height: 1px;
    }

    &__intro {
      width: 100%;
      margin-top: auto;
      text-align: center;
    }

    &__message {
      &:first-child {
        margin-top: auto;
      }
    }

    &__message--user {
      width: 100%;
      padding: 4rem 0 2.5rem 2rem;
      color: #aeaeae;
      text-align: right;
    }

    &__message--ai {
      padding-right: 2rem;
    }
  }

  &__form {
    grid-row: 2;
    align-self: end;
    width: 100%;
    padding-right: 2rem;

    &__form {
      position: relative;
    }

    &__input {
      height: 3rem;
      width: 100%;
      padding: 0.5rem 1rem;
      @include font-main;
      font-weight: 300;
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 8px 10px -6px rgba(0, 0, 0, 0.1);
      border-width: 1px;
      border-radius: 1rem 0;
      border-color: #868da3;
      background-color: rgba(55, 59, 68, 0.4);
      outline-color: #9697f1;
      outline: none;
      caret-color: white;
    }

    button {
      position: absolute;
      bottom: 0.75rem;
      right: 1rem;
    }

    &__send-icon {
      fill: #868da3;
    }
  }
}

.chats-saved {
  padding: 4rem;
  @include font-main;

  ul {
    font-size: 1.25rem;
    list-style-type: circle;
  }

  li {
    padding-bottom: 0.25rem;
  }
}
