.chat {
  @include bp("small") {
    height: calc(100vh - 6rem);
  }

  * {
    box-sizing: border-box;
  }

  header {
    padding-bottom: 2rem;
  }

  &__container {
    height: calc(100% - 5rem);
  }

  &__hero {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100%;
    max-height: 100%;

    @include bp("medium") {
      display: flex;
    }

    &__image {
      display: none;
      position: relative;
      width: 100%;
      max-height: 70vh;
      margin-bottom: 1rem;
      border: $borders;
      border-radius: $border-radius-large;
      background: linear-gradient(
        180deg,
        #0e4274 4.95%,
        rgba(23, 48, 72, 1) 100%
      );
      box-shadow: $boxshadow-heavy;
      overflow: hidden;

      @include bp("medium") {
        display: block;
      }

      img {
        width: 100%;
      }

      &--portrait {
        position: relative;
        aspect-ratio: 1080/769;

        img {
          position: absolute;
          top: -17%;
          right: -21%;
          width: 134%;
          height: 293%;
          max-width: none;
        }
      }

      &--landscape {
        display: block;
        // aspect-ratio: 1080/720;
        aspect-ratio: 720/1080;

        img {
          position: absolute;
          bottom: -24%;
          right: -11.1%;
          width: 180%;
          height: auto;
          max-width: none;
        }
      }
    }
  }

  &__panel {
    position: relative;
    height: calc(100vh - 2rem);

    @include bp("small") {
      height: calc(100vh - 9rem);
    }

    &__inner {
      display: grid;
      grid-template-rows: 1fr 7rem;
      height: 100%;
      border: $borders;
      border-radius: $border-radius-large;
      background-color: #1d3d5c;
      box-shadow: $boxshadow-heavy;
    }
  }

  &__messages {
    bottom: 6.5rem;
    height: 100%;
    width: 100%;
    padding: 2.25rem;
    @include font-main;
    font-size: 1.25rem;
    overflow-y: scroll;
    @include scrollbars(10px, #3f455a, #1d3d5c);

    &--hidden {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    * {
      overflow-anchor: none;
    }

    .chat__messages__anchor {
      overflow-anchor: auto;
      height: 1px;
    }

    &__intro {
      width: 100%;
      margin-top: auto;
      text-align: center;
    }

    &__message {
      &:first-child {
        margin-top: auto;
      }
    }

    &__message--user {
      width: 100%;
      padding: 4rem 0 2.5rem 2rem;
      color: #aeaeae;
      text-align: right;
    }

    &__message--ai {
      padding-right: 2rem;
    }
  }

  &__form {
    grid-row: 2;
    align-self: end;
    width: 100%;
    padding: 2rem;

    &__form {
      position: relative;
    }

    &__input {
      height: 3rem;
      width: 100%;
      padding: 0.5rem 1rem;
      @include font-main;
      font-weight: 300;
      box-shadow: $boxshadow-heavy;
      border: $borders;
      border-radius: 1rem 0;
      background-color: rgba(55, 59, 68, 0.4);
      outline-color: #9697f1;
      outline: none;
      caret-color: white;
    }

    button {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      border: 0;
      background-color: transparent;
    }

    &__send-icon {
      fill: #2fbfff;
    }
  }

  .btn--chat-hero-close {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    // background-color: #292f47;
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;

    .btn--saved-chats {
      display: none;
      display: block;
    }

    .btn--chat-options {
      display: flex;
    }

    // @media (min-width: 844px) {
    //   .btn--saved-chats {
    //     display: block;
    //   }

    //   .btn--chat-options {
    //     display: none;
    //   }
    // }

    // @include bp("medium") {
    //   button {
    //     display: block;
    //   }
    // }
  }
}

.chat__sidebar {
  height: 100%;
  padding: 2rem 3rem;
  padding-bottom: 6rem;
  @include font-main;
  background-color: #3f455a40;

  ul {
    font-size: 1rem;
    list-style-type: circle;
  }

  li {
    padding-bottom: 0.25rem;
  }

  &__date {
    color: #aeaeae;
  }
}
