.chat {
  &.thirdeyes {
    // height: calc(100% - 5rem);
    max-width: 1400px;
  }

  * {
    box-sizing: border-box;
  }

  header {
    padding-bottom: 2rem;
  }

  &__container {
    height: calc(100% - 5rem);
  }

  &__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    &__image {
      display: none;
      position: relative;
      width: 100%;
      max-height: 70vh;
      margin-bottom: 1rem;
      border: $borders;
      border-radius: 47px 0 47px 0;
      background: linear-gradient(180deg, #0E4274 4.95%, rgba(23, 48, 72, 0.00) 100%);
      box-shadow: $boxshadow-heavy;
      overflow: hidden;

      img {
        width: 100%;
      }

      &--portrait {
        position: relative;
        display: block;
        aspect-ratio: 720/1080;

        img {
          position: absolute;
          top: 10%;
          right: -8.5%;
          width: 180%;
          max-width: none;
        }
      }

      &--landscape {
        display: block;
        aspect-ratio: 1080/720;

        img {
          position: absolute;
          top: 0;
          right: 2%;
          width: 120%;
          max-width: none;
        }
      }
    }
  }

  &__panel {
    position: relative;
    width: 100%;
    height: 100%;

    &__inner {
      display: grid;
      grid-template-rows: 1fr 7rem;
      height: 100%;
      border: $borders;
      border-radius: 47px 0 47px 0;
      background-color: #1D3D5C;
      box-shadow: $boxshadow-heavy;
    }
  }

  &__messages {
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    bottom: 6.5rem;
    height: 100%;
    width: 100%;
    padding: 2.25rem;
    @include font-main;
    font-size: 1.2rem;
    overflow-y: scroll;
    @include scrollbars(10px, #3f455a, #1D3D5C);

    &--hidden {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    * {
      overflow-anchor: none;
    }

    .chat__messages__anchor {
      overflow-anchor: auto;
      height: 1px;
    }

    &__intro {
      width: 100%;
      margin-top: auto;
      text-align: center;
    }

    &__message {
      &:first-child {
        margin-top: auto;
      }
    }

    &__message--user {
      width: 100%;
      padding: 4rem 0 2.5rem 2rem;
      color: #aeaeae;
      text-align: right;
    }

    &__message--ai {
      padding-right: 2rem;
    }
  }

  &__form {
    grid-row: 2;
    align-self: end;
    width: 100%;
    padding: 2rem;

    &__form {
      position: relative;
    }

    &__input {
      height: 3rem;
      width: 100%;
      padding: 0.5rem 1rem;
      @include font-main;
      font-weight: 300;
      box-shadow: $boxshadow-heavy;
      border-width: 1px;
      border-radius: 1rem 0;
      border-color: #868da3;
      background-color: rgba(55, 59, 68, 0.4);
      outline-color: #9697f1;
      outline: none;
      caret-color: white;
    }

    button {
      position: absolute;
      bottom: 0.75rem;
      right: 1rem;
    }

    &__send-icon {
      fill: #868da3;
    }
  }

  .btn--chat-hero-close {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    // background-color: #292f47;
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }
}

.chats-saved {
  height: 100%;
  padding: 2rem;
  padding-bottom: 6rem;
  @include font-main;
  background-color: #3f455a40;

  ul {
    font-size: 1rem;
    list-style-type: circle;
  }

  li {
    padding-bottom: 0.25rem;
  }

  &__date {
    color: #aeaeae;
  }
}
