.home {
  height: calc(100vh - 6rem);
  max-width: 1400px;
  margin: auto;

  p {
    padding-bottom: 1.5rem;
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 6rem;

    &--right {
      img {
        aspect-ratio: 1080 / 720;
        width: 100%;
        height: auto;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
          0 8px 10px -6px rgba(0, 0, 0, 0.4);
        box-shadow: $boxshadow-heavy;
      }
    }
  }
}
