.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;

  @include bp("medium") {
    padding: 0 2rem 0;
  }

  &__body {
    position: relative;
    height: calc(100vh - 2rem);
    border: $borders;
    border-radius: $border-radius-large;
    box-shadow: $boxshadow-heavy;
    overflow: hidden;
    
    @include bp("small") {
      height: calc(100vh - 9rem);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
