.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  &--outline-primary {
    width: 110px;
    padding: 0.25rem;
    color: white;
    border: 1px solid white;
    background-color: transparent;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}
