.chat {
  &__sidebar {
    height: 100%;
    padding: 0;
    padding-bottom: 6rem;
    @include font-main;

    ul {
      font-size: 1rem;
      list-style-type: circle;
    }

    li {
      padding-bottom: 0.25rem;
    }

    &__inner {
      position: relative;
      padding: 2.5rem 1rem 1rem;
      // overflow: scroll;
    }

    &__settings {
      padding-top: 1rem;

      &__close {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        fill: $highlight-color;
      }

      .cds--dropdown {
      }

      .cds--list-box__field {
        background: #2e537b;
        border-bottom: 1px solid #4c6c8e;
      }

      .cds--list-box__label {
        color: white;
      }

      .cds--list-box {
        &__menu {
          border-top-color: #4c6c8e;
        }

        &__menu-icon > svg {
          fill: white;
        }

        &__menu-item {
          color: white;
          background-color: #2e537b;

          &:hover {
            background-color: #4c6c8e;

            .cds--list-box__menu-item__option {
              color: white;
              background-color: #4c6c8e;
            }
          }

          &--active {
            outline-color: $highlight-color;

            div {
              border-bottom: 1px solid #4c6c8e;
            }
          }

          &__option {
            color: white;
            background-color: #2e537b;
            border-block-start-color: #4c6c8e;

            svg {
              fill: white;
            }
          }
        }
      }
    }

    &__date {
      color: #aeaeae;
    }
  }

  &__dropdown {
    margin-bottom: 1rem;

    .cds--list-box__field:focus {
      outline: 0;
    }
  }
}
