.editor {
  &__panel {
    position: relative;
    height: calc(100vh - 9rem);
    color: white;
    font-weight: 300;
    border: 1px solid #2fbfff;
    border-radius: 3rem 0 3rem 0;
    background-color: #324c66;
    overflow: hidden;

    > div {
      height: 100%;
    }

    &__inner {
      display: grid;
      grid-template-rows: 1fr 7rem;
      justify-content: center;
      height: 100%;
      // background-color: transparent;

      &--login {
        grid-template-rows: 1fr;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #324c66;
        z-index: 1;
      }
    }

    .login-message {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 40%;
      text-align: center;
      z-index: 1;
    }

    .login-image {
      position: absolute;
      bottom: -15rem;
      left: -1rem;
      width: 900px;
      height: 900px;
    }

    #signout_button {
      position: absolute;
      top: 1rem;
      right: 1rem;

      + div {
        // display: none;
      }
    }
  }

  &__inner {
    position: relative;
    height: calc(100% - 5.5rem);
    padding: 2.25rem 2.25rem 3.5rem;
    overflow-y: scroll;
    @include scrollbars(1px, $highlight-color, #324c66);

    // Selecting this element as being previous sibling to the modal
    // https://tobiasahlin.com/blog/previous-sibling-css-has/
    //
    &:has(~ .modal--visible) {
      display: none;
    }
  }

  .modal {
    &--editor {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 4rem);
      height: calc(100% - 4rem);
      margin: 2rem;
      border: 1px solid #2fbfff;
      border-radius: 3rem 0 3rem 0;
    }

    &__inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  .tiptap {
    &:focus-visible {
      outline: none;
    }
  }

  // ————————————————————————————————————o————————————————————————————————————o chat panel -->
  // ————————————————————————————————————o chat panel —>
  //

  .chat__panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 70%;
    gap: 2rem;

    &__inner {
      position: relative;
      height: 100%;
      overflow: hidden;
    }
  }

  .chat__messages {
    // overflow-y: scroll;
    font-weight: 100 !important;
  } // ————————————————————————————————————o————————————————————————————————————o sidebar -->
  // ————————————————————————————————————o sidebar —>
  //
  .chat__sidebar {
    height: 100%;
    margin: 0;
    padding: 1rem;
    overflow-y: scroll;
    @include scrollbars(0.25rem, #3f455a, #1d3d5c);

    &__inner {
      height: 100%;
      margin: 0;
      padding: 0 0 1rem;

      .chat__buttons {
        // display: none;
        position: absolute;
        bottom: 1.75rem;
        right: 1.75rem;
      }
    }
  }
}

.btn {
  &--options--editor {
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    // Selecting this element as being previous sibling to the modal
    &:has(~ .modal--visible) {
      display: none;
    }
  }
}
