.editor {
  &__panel {
    position: relative;
    height: calc(100vh - 9rem);
    color: white;
    font-weight: 300;
    border: 1px solid #2fbfff;
    border-radius: 3rem 0 3rem 0;
    background-color: #324c66;
    box-shadow: 4px 20px 25px -5px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    > div {
      height: 100%;
    }

    &--mvp {
      padding-top: 1rem;
      border: 0;
      border-radius: 0;
      background-color: transparent;

      h3 {
        text-align: center;
      }

      .chat__panel__inner {
        height: calc(100% - 3rem) !important;
      }
    }

    &--howto {
      background-color: #243c5c;
    }

    &__inner {
      display: grid;
      grid-template-rows: 1fr 7rem;
      justify-content: center;
      height: 100%;
      // background-color: transparent;

      &--login {
        grid-template-rows: 1fr;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #324c66;
        z-index: 1;
      }
    }

    .login-message {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 40%;
      text-align: center;
      z-index: 1;
    }

    .login-image {
      position: absolute;
      // bottom: -15rem;
      top: 16rem;
      // left: -1rem;
      width: 900px;
      height: 900px;
    }

    #signout_button {
      position: absolute;
      top: 1rem;
      right: 1rem;

      + div {
        // display: none;
      }
    }
  }

  &__inner {
    position: relative;
    height: calc(100% - 5.5rem);
    padding: 2.25rem 2.25rem 3.5rem;
    overflow-y: scroll;
    @include scrollbars(1px, $highlight-color, #324c66);

    // Selecting this element as being previous sibling to the modal
    // https://tobiasahlin.com/blog/previous-sibling-css-has/
    //
    &:has(~ .modal--visible) {
      display: none;
    }
  }

  &__sidebar {
    position: relative;
    height: calc(100vh - 9rem);
    color: white;
    font-weight: 300;
    border: 1px solid #2fbfff;
    border-radius: 3rem 0 3rem 0;
    background-color: #324c66;
    box-shadow: 4px 20px 25px -5px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    > div {
      height: 100%;
    }

    &__inner {
      overflow-y: scroll;
    }
  }

  .modal {
    &--editor {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 4rem);
      height: calc(100% - 4rem);
      margin: 2rem;
      border: 1px solid #2fbfff;
      border-radius: 3rem 0 3rem 0;
    }

    &__inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  .tiptap {
    &:focus-visible {
      outline: none;
    }
  }

  // ————————————————————————————————————o————————————————————————————————————o chat panel -->
  // ————————————————————————————————————o chat panel —>
  //

  .chat__panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 70%;
    gap: 2rem;

    &__inner {
      position: relative;
      height: 100%;
      overflow: hidden;
    }
  }

  .chat__messages,
  .chat__messages p {
    font-size: 1.125rem;
    font-weight: 300;
    color: white;
    line-height: 1.5rem;
  }

  .reflecting-intro p {
    font-weight: 100;
  }

  // ————————————————————————————————————o————————————————————————————————————o sidebar -->
  // ————————————————————————————————————o sidebar —>
  //
  .chat__sidebar {
    height: 100%;
    margin: 0;
    padding: 1rem;
    overflow-y: scroll;
    @include scrollbars(0.25rem, #3f455a, #1d3d5c);

    &__inner {
      height: 100%;
      margin: 0;
      padding: 0 0 1rem;

      .chat__buttons {
        // display: none;
        position: absolute;
        bottom: 1.75rem;
        right: 1.75rem;
      }
    }
  }
}

.reflection {
  .chat__panel__inner {
    grid-template-rows: 1fr;
    // overflow: visible;
  }

  // .chat__messages {
  //   margin-bottom: 2.25rem;
  //   padding: 2.25rem 2.25rem 0;
  // }

  .passed-prompt {
    padding: 4rem 0 2.5rem 2rem;
    font-weight: 400;
    color: #aeaeae;
    text-align: right;
  }

  p.reflection__context {
    margin-top: 3rem;
    font-weight: 100;
    font-style: italic;
  }

  ul.reflection__context {
    margin-bottom: 1rem;
    list-style: circle;
    font-weight: 100;
    font-style: italic;
  }

  p.reflection__content {
    margin-top: 2rem;
    font-weight: 100;
    font-style: italic;
  }

  &__end-ref {
    scroll-margin-bottom: 3rem;
  }
}

.btn {
  &--options--editor {
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    // Selecting this element as being previous sibling to the modal
    &:has(~ .modal--visible) {
      display: none;
    }
  }
}

.engineering {
  &__panel {
    padding: 5rem 5rem 0 0;

    * {
      font-size: 1.125rem !important;
    }

    a {
      color: var(--cds-link-primary, #2fbfff);
      border-bottom: 1px solid #2fbfff;

      &:hover {
        color: white;
        border-bottom: 1px solid white;
        cursor: pointer;
      }
    }

    h3 {
      font-size: 1.5rem !important;
    }

    ol {
      list-style-type: decimal;
      list-style-position: outside;
      padding: 0 0 1rem 1rem;
    }

    li {
      padding-bottom: 0.5rem;
    }

    // .chat__messages__copy {
    //   display: inline-block;
    //   position: relative;
    //   top: 0.125rem;
    //   left: 0.25rem;
    //   padding: 0 !important;
    //   color: var(--cds-link-primary, #2fbfff);
    //   cursor: default;
    // }
  }
}

.chat__messages__copy {
  // display: block;
  margin-top: 8px;
  padding: 0 !important;
  color: var(--cds-link-primary, #2fbfff);
  cursor: pointer;

  &--active {
    color: white;
  }
}


.tooltip {
  position: relative;
  display: block;

  .tooltiptext {
    position: absolute;
    width: auto;
    font-size: 0.8rem;
    color: #2fbfff;
    font-weight: 400;
    padding: 6px 0 5px 0.5rem;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s;

    &--active {
      color: white;
    }
  }

  &:hover .tooltiptext {
    opacity: 1;
    transition: opacity 0.3s;
  }
}
