.editor {
  &__panel {
    position: relative;
    height: calc(100vh - 9rem);
    border: 1px solid #2fbfff;
    border-radius: 3rem 0 3rem 0;
    background-color: #324c66;
    color: white;
    font-weight: 300;

    > div {
      height: 100%;
    }

    &__inner {
      display: grid;
      grid-template-rows: 1fr 7rem;
      justify-content: center;
      position: relative;
      height: 100%;
      background-color: transparent;

      &--login {
        // background-color: black;
        grid-template-rows: 1fr;
        position: relative;
        overflow: hidden;
      }
    }

    .login-message {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 40%;
      text-align: center;
    }

    .login-image {
      position: absolute;
      bottom: -15rem;
      left: -1rem;
      width: 900px;
      height: 900px;
    }
  }

  &__inner {
    height: calc(100% - 5.5rem);
    padding: 2.25rem;
    overflow-y: scroll;
    @include scrollbars(1px, $highlight-color, #324c66);
  }

  .tiptap {
    &:focus-visible {
      outline: none;
    }
  }

  .chat__panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 70%;
    gap: 2rem;

    &__inner {
      height: 100%;
    }
  }

  .chat__messages {
    // overflow-y: scroll;
    font-weight: 100 !important;
  }

  .chat__sidebar {
    height: 100%;
    margin: 0;
    padding: 1rem;
    overflow-y: scroll;
    @include scrollbars(0.25rem, #3f455a, #1d3d5c);

    &__inner {
      height: 100%;
      margin: 0;
      padding: 0 0 1rem;

      .chat__buttons {
        // display: none;
        position: absolute;
        bottom: 1.75rem;
        right: 1.75rem;
      }
    }
  }
}

.btn {
  &--options--editor {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
}
