header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 2rem 2rem 1rem;
  z-index: 1;

  @include bp("small") {
    position: relative;
  }

  a {
    text-decoration: none;
  }

  h2 {
    display: none;
    font-family: "variex", variex, sans-serif;
    font-size: 2.5rem;
    color: $highlight-color;
    font-weight: 300;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @include bp("medium") {
      display: inline;
    }
  }

  .p-5 {
    padding: 0;
  }

  .btn--header__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 48px;
    height: 48px;
    border: $borders;
    border-radius: 50%;
    z-index: 1;

    @include bp("medium") {
      display: none;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include font-main;

    a {
      display: none;

      @include bp("medium") {
        display: inline;
      }
    }

    & > * {
      margin-left: 1rem;
    }
  }

  img {
    border-radius: 50%;
    box-shadow: $boxshadow-light;
  }
}
