.persona {
  &__item {
    padding-bottom: 1.5rem;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.persona__selector {
  // position: absolute;
  position: sticky;
  top: 0;
  background-color: #243c5cc9;

  h5 {
    padding-bottom: 0.5rem;
  }

  .cds--accordion {
    &__heading {
      &:hover {
        background-color: #2a4a6f;
      }

      &:focus {
        box-shadow: none;
      }
    }

    &__title {
      font-size: 1rem;
      color: white;
      font-weight: 500;
    }

    &__arrow {
      fill: white;
    }

    &__content {
      & > p {
        font-size: 1rem;
        font-weight: 300;
      }
    }
  }

  .cds--select-input {
    color: white;
    background-color: #243c5c;
    background-color: #255266;
  }

  .cds--select__arrow {
    fill: white;
  }

  .cds--radio-button {
    &__appearance {
      border-color: white;
    }

    &__label-text {
      font-size: 1rem;
      font-weight: 300;
    }

    &--disabled {
      * {
        color: #8e8e8e;
        border-color: #8e8e8e !important;
      }
    }
  }

  .cds--radio-button:checked
    + .cds--radio-button__label
    .cds--radio-button__appearance {
    border-color: white;

    &::before {
      background-color: white;
    }
  }

  .cds--radio-button:focus
    + .cds--radio-button__label
    .cds--radio-button__appearance {
    outline-color: transparent;
  }
}
