.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000005e;
  z-index: 1;

  &__inner {
    display: block;
    position: fixed;
    top: 1rem;
    left: 1rem;
    aspect-ratio: 8/16;
    width: calc(100vw - 2rem);
    height: calc(100vh - 2rem);
    margin-bottom: 1rem;
    border: $borders;
    border-radius: $border-radius-large;
    background-color: #283c52;
    box-shadow: $boxshadow-heavy;
    overflow: hidden;
  }
}
