.module--search {
  li.module--search__result {
    padding-bottom: 0.75rem;
    list-style-type: none;

    &:hover {
      * {
        color: $highlight-color;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: white;
  }

  p.module--search__title {
    padding-bottom: 0rem;
    font-size: 1rem;
    font-weight: 300;
  }

  p.module--search__snippet {
    padding-bottom: 0rem;
    font-size: 1rem;
  }

  p.module--search__hostname {
    padding-bottom: 0rem;
    font-size: 0.75rem;
  }
}

.chat__messages {
  .module--search {
    padding-top: 1.25rem;

    &__list {
      display: grid;
      grid-auto-columns: minmax(0, 1fr);
      grid-auto-flow: column;
      gap: 0.5rem;
      grid-auto-rows: 1fr;
    }

    li.module--search__result {
      height: 100%;
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid #3f588c;
      background-color: #1e374e;
      transition: all 0.2s ease;
      word-break: break-all;

      &:hover {
        // border-color: $highlight-color;
        background-color: #143049;
        transition: all 0.2s ease;

        * {
          color: white;
        }
      }
    }
  }

  p.module--search__title {
    font-size: 0.8rem;
  }

  p.module--search__snippet {
    display: none;
  }
}
