.chat__sidebar__inner {
  .module {
    height: 100%;

    &--spotify {
      display: grid;
      grid-template-columns: 33.333% 1fr;
    }
  }

  &--spotify {
    padding: 0 0 0.5rem !important;
    background: #243c5c;
  }

  .spotify-playlist {
    padding: 0.5rem 0 1rem;
    overflow-y: scroll;
    @include scrollbars(10px, #3f455a, #1d3d5c);

    img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 0.25rem;
    }

    li {
      padding: 0.5rem;
      color: white;
      word-break: break-all;
    }

    p {
      padding-bottom: 0rem;
      font-size: 1rem;
      font-weight: 300;

      &.spotify__album {
        font-size: 0.9rem;
        font-weight: 300;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      padding-left: 1.5rem;
    }

    &__track {
      display: grid;
      grid-template-columns: 2.5rem 1fr;
      grid-template-rows: 1fr;
      gap: 0.5rem;
    }
  }
}
