.thirdeyes {
  @include font-main;
  
  h1 {
    padding-bottom: 1rem;
    @include font-main;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.6rem;
  }

  h3 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: normal;
  }

  p {
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 300;
  }

  .italic {
    font-style: italic;
  }
}
