$highlight-color: #2FBFFF;
$borders: 1px solid $highlight-color;
$border-radius-large: 3rem 0 3rem 0;
$boxshadow-light: 4px 20px 25px -5px rgba(0, 0, 0, 0.15);
$boxshadow-heavy: 4px 20px 25px -5px rgba(0, 0, 0, 0.2);